.git
.gitignore
.gitattributes
media/
staticfiles/
*.pyc
__pycache__/
.venv/
venv/
env/
*.egg-info/
.pytest_cache/
.idea/
.vscode/
.env
.env.local
*.sqlite3
.DS_Store
node_modules/
*.log
home_diff.txt