SECRET_KEY='your_project_seckret_key'
DEBUG=False
DB_URL=postgres://db_user:db_password@db_host:db_port/db_name

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=
NOTIFICATION_EMAILS=
