asgiref==3.12.1
Django==6.1
django-bootstrap5==26.2
django-modeltranslation==0.20.3
factories==1.4.1
factory_boy==3.3.3
Faker==40.36.0
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
signalling==1.0.1
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
django-debug-toolbar==7.1.1