{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Контакты" %} — Паллиатив.kg{% endblock %}

{% block content %}
    <section class="py-4">
        <h1 class="fw-bold mb-4">{% translate "Контакты" %}</h1>

        <h4 class="fw-bold">{% translate "Адрес" %}</h4>
        <p>
            {% translate "г. Бишкек, ул. Юдахина 61" %}
        </p>

        <h4 class="fw-bold mt-4">{% translate "Телефон" %}</h4>
        <p>
            <a href="tel:+996312214015">0312 214015</a>
        </p>

        <h4 class="fw-bold mt-4">{% translate "Email" %}</h4>
        <p>
            <a href="mailto:info@palliativ.kg">info@palliativ.kg</a>
        </p>

        <h4 class="fw-bold mt-4">{% translate "WhatsApp" %}</h4>
        <p>
            <a href="https://wa.me/996555922604"
                target="_blank"
                rel="noopener noreferrer">
                +996 555 922 604
            </a>
        </p>

        <h4 class="fw-bold mt-4">{% translate "Instagram" %}</h4>
        <p>
            <a href="https://www.instagram.com/palliativecare_kg"
               target="_blank"
               rel="noopener noreferrer">
                palliativecare_kg
            </a>
        </p>

        <h4 class="fw-bold mt-4">{% translate "Facebook" %}</h4>
        <p>
            <a href="https://www.facebook.com/palliativecare.kg"
                target="_blank"
                rel="noopener noreferrer">
                palliativecare.kg
            </a>
        </p>

        <h4 class="fw-bold mt-4">{% translate "Как нас найти" %}</h4>
        <p>
            <a href="https://2gis.kg/bishkek/geo/70000001117702816"
               target="_blank"
               rel="noopener noreferrer">
                {% translate "Ассоциация паллиативной и хосписной помощи" %}
            </a>
        </p>

        <div class="mt-5">
            <a href="{% url 'main:new-consultation' %}" class="btn btn-primary">
                {% translate "Нужна консультация" %}
            </a>
        </div>
    </section>
{% endblock %}