{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h2>{{ event.title }}</h2>
    {% if event.image %}<img src="{{ event.image.url }}" class="img-fluid mb-3">{% endif %}
    <p>{{ event.description }}</p>
    <p><strong>{% translate "Дата" %}:</strong> {{ event.event_date }}</p>
    <p><strong>{% translate "Место проведения" %}:</strong> {{ event.location }}</p>

    <h4 class="mt-4">{% translate "Регистрация на мероприятие" %}</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% translate "Записаться" %}</button>
    </form>
</div>
{% endblock %}